<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{title}}</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid"> <br>
        
      <div class="row">
          <!-- col systeme boxes -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-primary shadow-lg">
                <div class="card-header">
                  <h3 class="card-title">Système</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <strong><i class="fas fa-cog mr-1"></i> Cofiguration générale</strong>
                  <p class="text-muted">
                    Administrer la configuration générale de la gestion documentaire comme le Dossier
                    de stockage, la langue par défaut, etc...
                  </p>
                  <hr>
                  <strong><i class="fas fa-paint-brush mr-1"></i> Personnalisation</strong>
                  <p class="text-muted">
                    Personnaliser l'image de fond...
                  </p>
                  <hr>
                  <strong><i class="fas fa-pencil-alt mr-1"></i> Personnalisation des emails</strong>
                  <p class="text-muted">
                   Editer le contenu des emails 2mis par le système.
                  </p>
                  <hr>
                  <strong><i class="far fa-file-alt mr-1"></i> Licence</strong>
                  <p class="text-muted">Consulter et modifier les informations de licence nombres d'utilisateurs
                    stockage utlisé et option intallées.
                  </p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            
        </div>
        <!-- /. col systeme-box -->

        <!-- col utilisateur boxes -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-primary shadow-lg">
                <div class="card-header">
                  <h3 class="card-title">Utilisateurs</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <strong><i class="fas fa-user mr-1"></i> Utilisateurs</strong>
                  <p class="text-muted">
                    Ajouter, modifier ou supprimer des utilisateurs.
                  </p>
                  <hr>
                  <strong><i class="fas fa-users mr-1"></i> Groupes</strong>
                  <p class="text-muted">
                    Gérer le groupe
                  </p>
                  <hr>
                  <strong><i class="fas fa-user-secret mr-1"></i> Rôles</strong>
                  <p class="text-muted">
                    Ajouter, modifier ou supprimer des rôles utilisateurs.
                  </p>
                  <hr>
                  <strong><i class="far fa-server"></i> Serveurs LDAP</strong>
                  <p class="text-muted">
                    Ajouter, modifier ou supprimer des serveurs LDAP.
                  </p>
                  <strong><i class="far fa-file-alt mr-1"></i> Alias</strong>
                  <p class="text-muted">
                    Ajouter, supprimer des alias utilisateurs.
                  </p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->          
        </div>
        <!-- /. col utilisateur-box -->

        <!-- col documents boxes -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-primary shadow-lg">
                <div class="card-header">
                  <h3 class="card-title">Documents</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <strong><i class="fas fa-archive mr-1"></i> Règles de classemen</strong>
                  <p class="text-muted">
                    Ajouter, modifier ou supprimer les règles de classements et les métadonnées.
                  </p>
                  <hr>
                  <strong><i class="fas fa-lock mr-1"></i> Espaces Sécurisés de Conservation</strong>
                  <p class="text-muted">
                    Ajouter ou consulter les Espaces sécurisés de Consevation.
                  </p>
                  <hr>
                  <strong><i class="fas fa-suitcase mr-1"></i> Règles de complétion</strong>
                  <p class="text-muted">
                    Ajouter, éditer, supprimr les types des dossiers
                  </p>
                  <hr>
                  <strong><i class="far fa-link"></i>Laison dynamiques</strong>
                  <p class="text-muted">
                    Adminitrer les relations entre les métadonnées de défférentes règles de classelent. Permet la suggestion dynamique de documents lors des liaisons.
                  </p>
                  <strong><i class="far fa-file-alt mr-1"></i> Tamons</strong>
                  <p class="text-muted">
                    Ajouter, supprimer des Tampons.
                  </p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->          
        </div>
        <!-- /. col documents-box -->

        <!-- col workflow boxes -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-primary shadow-lg">
                <div class="card-header">
                  <h3 class="card-title">Workflow</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <strong><i class="fas fa-sitemap mr-1"></i> Workflow</strong>
                  <p class="text-muted">
                    Gérer les workflows; la création des tâches, les transitions et les utilisateurs assignés à des tàches
                  </p>
                  <hr>
                  <strong><i class="fas fa-check-square mr-1"></i> Liste des tâches</strong>
                  <p class="text-muted">
                    Gérer les tâches en attente ou traiter dans les workflow ( validation, refus, chargemnts d'acteur....)
                  </p>
                  <hr>
                  <strong><i class="fas fa-clock mr-1"></i> Horaires de travail</strong>
                  <p class="text-muted">
                    Gérer les horaires de travail et les jours féries.
                  </p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->          
        </div>
        <!-- /. col workflow-box -->

      </div>
      <!-- /.row -->
<br><br>
    </div><!--/. container-fluid -->
  </section>