<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{title}}</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <br>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box shadow-lg">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-archive"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Documents à classer</span>
              <span class="info-box-number">10</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box shadow-lg mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-folder"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Dossier(s) à compléter</span>
              <span class="info-box-number">32</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box shadow-lg mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-share"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Partages en attente d'approbation</span>
              <span class="info-box-number">76</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box shadow-lg mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-clock"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Rappels</span>
              <span class="info-box-number">9</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

<br>
<!--*********************************************************************-->
<div class="row">
   
    <div class="col-12 col-sm-6">
        <div class="card card-info shadow-lg">
            <div class="card-header border-transparent">
            <h3 class="card-title"><i class="fas fa-bolt"></i>Accès rapide</h3>
            </div>

        <div class="card card-primary card-outline card-outline-tabs">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="custom-tabs-four-recents-tab" data-toggle="pill" href="#custom-tabs-four-recents" role="tab" aria-controls="custom-tabs-four-recents" aria-selected="true">Documents récents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="custom-tabs-four-recherches-tab" data-toggle="pill" href="#custom-tabs-four-recherches" role="tab" aria-controls="custom-tabs-four-recherches" aria-selected="false">Dernière recherches</a>
            </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="custom-tabs-four-tabContent">
            <div class="tab-pane fade show active" id="custom-tabs-four-recents" role="tabpanel" aria-labelledby="custom-tabs-four-recents-tab">
                <div class="card-body p-0">
                    <div class="table-responsive">
                    <table class="table m-0">
                        <tbody>
                        <tr>
                        <td><a href="pages/examples/invoice.html"> <i class="fas fa-file-pdf fa-2x"  style="color: #292929;"></i></a></td>
                        <td>Bon de commande cielure</td>
                        <td>
                            <div class="sparkbar" data-color="#00a65a" data-height="20">à 12:52</div>
                        </td>
                        </tr>
                        <tr>
                        <td><a href="pages/examples/invoice.html"> <i class="fas fa-file-image fa-2x"  style="color: #292929;"></i></a></td>
                        <td>0090325-03-09.jpg</td>
                        <td>
                            <div class="sparkbar" data-color="#00a65a" data-height="20">à 09:32</div>
                        </td>
                        </tr>
                        <tr>
                        <td><a href="pages/examples/invoice.html"> <i class="fas fa-file-word fa-2x"  style="color: #292929;"></i></a></td>
                        <td>example.txt</td>
                        <td>
                            <div class="sparkbar" data-color="#00a65a" data-height="20">à 14:21</div>
                        </td>
                        </tr>

                        </tbody>
                    </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
            </div>
            <div class="tab-pane fade" id="custom-tabs-four-recherches" role="tabpanel" aria-labelledby="custom-tabs-four-recherches-tab">

            </div>
            </div>
        </div>
        <!-- /.card -->
        </div>

        </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="card card-success shadow-lg">
        <div class="card-header border-transparent">
          <h3 class="card-title"><i class="fas fa-star"></i>Mes favoris</h3>
        </div>
        
        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="custom-tabs-four-tout-tab" data-toggle="pill" href="#custom-tabs-four-tout" role="tab" aria-controls="custom-tabs-four-tout" aria-selected="true">Tout</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" id="custom-tabs-four-documents-tab" data-toggle="pill" href="#custom-tabs-four-documents" role="tab" aria-controls="custom-tabs-four-documents" aria-selected="false">Documents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="custom-tabs-four-dossiers-tab" data-toggle="pill" href="#custom-tabs-four-dossiers" role="tab" aria-controls="custom-tabs-four-dossiers" aria-selected="false">Dossiers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="custom-tabs-four-recherche-tab" data-toggle="pill" href="#custom-tabs-four-recherche" role="tab" aria-controls="custom-tabs-four-recherche" aria-selected="false">Recherche</a>
            </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="custom-tabs-four-tabContent">
                <div class="tab-pane fade show active" id="custom-tabs-four-tout" role="tabpanel" aria-labelledby="custom-tabs-four-tout-tab">
                    <div class="card-body p-0">
                        <div class="table-responsive">
                        <table class="table m-0">
                            <tbody>
                                <tr>
                                <td><a href="pages/examples/invoice.html"><i class="fas fa-folder fa-2x" style="color: #292929;"></i></a></td>
                                <td>Administrator</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                <td>
                                    <div class="sparkbar" data-color="#00a65a" data-height="20"><i class="fas fa-times" style="color: #292929;"></i></div>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                </div>
                <div class="tab-pane fade" id="custom-tabs-four-documents" role="tabpanel" aria-labelledby="custom-tabs-four-documents-tab">
                </div>
                <div class="tab-pane fade" id="custom-tabs-four-dossiers" role="tabpanel" aria-labelledby="custom-tabs-four-dossiers-tab">
                </div>
                <div class="tab-pane fade" id="custom-tabs-four-recherche" role="tabpanel" aria-labelledby="custom-tabs-four-recherche-tab">
                </div>
            </div>
        </div>
        <!-- /.card -->
        </div>

        </div>
    </div>

</div>

<br>
<!--*********************************************************************-->

<div class="row">
   
  <div class="col-12 col-sm-12">
      <div class="card card-danger shadow-lg">
          <div class="card-header border-transparent">
          <h3 class="card-title"> <i class="fas fa-bell"></i> Notifications</h3>
          </div>

      <div class="card card-primary card-outline card-outline-tabs">
      <div class="card-header p-0 border-bottom-0">
          <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
          <li class="nav-item">
              <a class="nav-link active" id="custom-tabs-four-ntout-tab" data-toggle="pill" href="#custom-tabs-four-ntout" role="tab" aria-controls="custom-tabs-four-ntout" aria-selected="true">Tout</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="custom-tabs-four-ndocuments-tab" data-toggle="pill" href="#custom-tabs-four-ndocuments" role="tab" aria-controls="custom-tabs-four-ndocuments" aria-selected="false">Documents</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="custom-tabs-four-ndossiers-tab" data-toggle="pill" href="#custom-tabs-four-ndossiers" role="tab" aria-controls="custom-tabs-four-ndossiers" aria-selected="true">Dossiers</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="custom-tabs-four-ncommentaires-tab" data-toggle="pill" href="#custom-tabs-four-ncommentaires" role="tab" aria-controls="custom-tabs-four-ncommentaires" aria-selected="false">Commentaires</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="custom-tabs-four-nrappels-tab" data-toggle="pill" href="#custom-tabs-four-nrappels" role="tab" aria-controls="custom-tabs-four-nrappels" aria-selected="true">Rappels</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="custom-tabs-four-nworkflow-tab" data-toggle="pill" href="#custom-tabs-four-nworkflow" role="tab" aria-controls="custom-tabs-four-nworkflow" aria-selected="false">Workflow</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="custom-tabs-four-nclassement-tab" data-toggle="pill" href="#custom-tabs-four-nclassement" role="tab" aria-controls="custom-tabs-four-nclassement" aria-selected="false">Classements</a>
          </li>
          </ul>
      </div>
      <div class="card-body">
          <div class="tab-content" id="custom-tabs-four-tabContent">
          <div class="tab-pane fade show active" id="custom-tabs-four-ntout" role="tabpanel" aria-labelledby="custom-tabs-four-ntout-tab">
              <div class="card-body p-0">
                  <div class="table-responsive">
                  <table class="table m-0">
                      <tbody>
                        <tr>
                          <td><a href="pages/examples/invoice.html"><i class="fas fa-folder fa-2x" style="color: #292929;"></i></a></td>
                          <td>Administrator</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                              <div class="sparkbar" data-color="#00a65a" data-height="20"><i class="fas fa-times" style="color: #292929;"></i></div>
                          </td>
                          </tr>
                      </tbody>
                  </table>
                  </div>
                  <!-- /.table-responsive -->
              </div>
          </div>
          <div class="tab-pane fade" id="custom-tabs-four-ndocuments" role="tabpanel" aria-labelledby="custom-tabs-four-ndocuments-tab">

          </div>
          <div class="tab-pane fade" id="custom-tabs-four-ndossiers" role="tabpanel" aria-labelledby="custom-tabs-four-ndossiers-tab">

          </div>
          <div class="tab-pane fade" id="custom-tabs-four-ncommentaires" role="tabpanel" aria-labelledby="custom-tabs-four-ncommentaires-tab">

          </div>
          <div class="tab-pane fade" id="custom-tabs-four-nrappels" role="tabpanel" aria-labelledby="custom-tabs-four-nrappels-tab">

          </div>
          <div class="tab-pane fade" id="custom-tabs-four-nworkflow" role="tabpanel" aria-labelledby="custom-tabs-four-nworkflow-tab">

          </div>
          <div class="tab-pane fade" id="custom-tabs-four-nclassement" role="tabpanel" aria-labelledby="custom-tabs-four-nclassement-tab">

          </div>
          </div>
      </div>
      <!-- /.card -->
      </div>

      </div>
  </div>

</div>

<!--*********************************************************************-->
<br><br>
      <!-- /.row -->
    </div><!--/. container-fluid -->
  </section>