.card-info{
        background-color: #17a2b8!important;
}
.card-danger{
        background-color: #dc3545!important;
}
.card-success{
        background-color: #28a745!important;
}

.card-primary.card-outline-tabs>.card-header a.active {
    border-top: 3px solid #faf8fa !important;
}